PORT=3001
DATABASE_URL=postgresql://usuario:password@host:5432/maderacontrol
JWT_SECRET=tu_clave_secreta_aqui
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
SUNAT_API_URL=https://api.apis.net.pe/v2/sunat/ruc
SUNAT_API_TOKEN=tu_token_aqui_opcional
